@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Sacramento&display=swap');

html {
    font-size: 10px;
}

body {
    position:relative;
}

#div1 {
    font-family: 'Sacramento', cursive;
    font-size: 39px;
    color:turquoise;
    text-align:center;
    display:inline-block;
    margin-top: 41px;
}

span {
    font-family: 'Abhaya Libre', serif;
    font-size:1em;
}

.cercle {
    height: 183px;
    width: 280px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: -17px;
    position:absolute;
    z-index:-1;
}

#roue1 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 70px;
    top : 159px;
    border-radius: 100%;
    border: 1px dashed turquoise ;
    animation-name: rotation-roue;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#roue2 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 157px;
    top : 110px;
    border-radius: 100%;
    border: 1px dashed turquoise ;
    animation-name: rotation-roue;
    animation-duration: 10s;
    transform-origin: center center;
    animation-iteration-count: infinite;
}

@keyframes rotation-roue {
    0% {
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(240deg);
    }
    100% {
        transform: rotate(360deg);
    }
}